Purchase Order Items Table Export.json
{
  "name": "Purchase Order Items Table Export",
  "nodes": [
    {
      "parameters": {
        "jsCode": "await new Promise(resolve => setTimeout(resolve, 300));\nconsole.log('---');\nreturn $input.all();"
      },
      "id": "80b4563b-782f-405a-8e6b-e53a0f642bd6",
      "name": "Delay",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        736,
        256
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "last_id",
              "name": "last_id",
              "value": "={{ $json.last_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "5f56fa0d-0cbb-4d6c-94b0-4121835e58ee",
      "name": "Update Cursor",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        512,
        256
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "has-more",
              "leftValue": "={{ $json.has_more }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "0cacd5f4-335c-4a1e-a764-2b9bf87ef1cd",
      "name": "Has More Pages?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        288,
        256
      ]
    },
    {
      "parameters": {
        "jsCode": "const currentResponse = $input.item.json;\nconst nextLastId = currentResponse.meta?.pagination?.last_id || null;\n\nconsole.log(`Retrieved ${(currentResponse.response || []).length} POs. Next: ${nextLastId || 'NONE'}`);\n\nreturn {\n  json: {\n    last_id: nextLastId,\n    has_more: !!nextLastId\n  }\n};"
      },
      "id": "12dcc241-0b39-4734-9e4e-061f8f36953c",
      "name": "Check Pagination",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        64,
        256
      ]
    },
    {
      "parameters": {
        "url": "=https://jackandsage.app.apparelmagic.com/api/json/purchase_orders/?token=xyz&time={{ Math.floor(Date.now() / 1000) }}{{ $json.last_id ? '&pagination[last_id]=' + $json.last_id : '' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "timeout": 60000
        }
      },
      "id": "0ee58d07-bfd7-4a40-bf46-80561470cf6a",
      "name": "HTTP - Fetch Page",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -160,
        432
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "page_count",
              "name": "page_count",
              "value": "=0",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "6e5cf20e-3fdd-4b53-b905-719e020eb614",
      "name": "Initialize Variables",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        -384,
        432
      ]
    },
    {
      "parameters": {
        "tableId": "purchase_order_items_table_export",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "ID",
              "fieldValue": "={{ $json.purchase_order_items_id }}"
            },
            {
              "fieldId": "Data Due Dates Overridden",
              "fieldValue": "={{ $json.data_due_dates_overridden }}"
            },
            {
              "fieldId": "Data Warehouses Overridden",
              "fieldValue": "={{ $json.data_warehouses_overridden }}"
            },
            {
              "fieldId": "Data Ex Factory Dates Overridden",
              "fieldValue": "={{ $json.data_ex_factory_dates_overridden }}"
            },
            {
              "fieldId": "Data Start Dates Overridden",
              "fieldValue": "={{ $json.data_start_dates_overridden }}"
            },
            {
              "fieldId": "Containing Style",
              "fieldValue": "={{ $json.containing_style }}"
            },
            {
              "fieldId": "Size",
              "fieldValue": "={{ $json.size }}"
            },
            {
              "fieldId": "UPC",
              "fieldValue": "={{ $json.upc }}"
            },
            {
              "fieldId": "Retail Price",
              "fieldValue": "={{ $json.retail_price }}"
            },
            {
              "fieldId": "Description",
              "fieldValue": "={{ $json.description }}"
            },
            {
              "fieldId": "Description",
              "fieldValue": "={{ $json.description }}"
            },
            {
              "fieldId": "Color",
              "fieldValue": "={{ $json.color }}"
            },
            {
              "fieldId": "Qty",
              "fieldValue": "={{ $json.qty }}"
            },
            {
              "fieldId": "Qty Open",
              "fieldValue": "={{ $json.qty_open }}"
            },
            {
              "fieldId": "Qty Received",
              "fieldValue": "={{ $json.qty_received }}"
            },
            {
              "fieldId": "PO ID",
              "fieldValue": "={{ $json.po_id }}"
            },
            {
              "fieldId": "Category",
              "fieldValue": "={{ $json.category }}"
            },
            {
              "fieldId": "Qty Cxl",
              "fieldValue": "={{ $json.qty_cxl }}"
            },
            {
              "fieldId": "Warehouse",
              "fieldValue": "={{ $json.warehouse }}"
            },
            {
              "fieldId": "Unit Cost",
              "fieldValue": "={{ $json.unit_cost }}"
            },
            {
              "fieldId": "Unit Cost Landed Est",
              "fieldValue": "={{ $json.unit_cost_landed_est }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        832,
        480
      ],
      "id": "884f2e90-f009-4cb5-a0ac-e66e3604147f",
      "name": "Create a row"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1136,
        -128
      ],
      "id": "2e1aa4ee-82f3-4917-9d38-69a2e7347051",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "jsCode": "// ================================================\n// FLATTEN PURCHASE ORDER ITEMS WITH CATEGORY EXTRACTION\n// ================================================\n\nconst apiResponse = $input.item.json;\nconst purchaseOrders = apiResponse.response || [];\n\nconst flattenedItems = [];\n\n// Function to extract category from description\nfunction extractCategory(description) {\n  if (!description) return null;\n  \n  const desc = description.toLowerCase();\n  \n  // Category keywords (order matters - check more specific first)\n  const categories = {\n    'Camp Shirt': /camp\\s*shirt/i,\n    'Aloha Shirt': /aloha\\s*shirt/i,\n    'T-Shirt': /t[\\s-]?shirt|tshirt/i,\n    'Long Sleeve Shirt': /long\\s*sleeve\\s*shirt/i,\n    'Shirt': /\\bshirt\\b/i,\n    'Fleece': /fleece/i,\n    'Hoodie': /hoodie|hoody/i,\n    'Jacket': /jacket/i,\n    'Vest': /vest/i,\n    'Onsie': /onsie|onesie/i,\n    'Trucker Hat': /trucker/i,\n    'Hat': /\\bhat\\b|cap\\b/i,\n    'Beanie': /beanie/i,\n    'Socks': /sock/i,\n    'Patch': /patch/i,\n    'Brim Tag': /brim\\s*tag/i,\n    'Tag': /\\btag\\b/i,\n    'Keychain': /keychain|key\\s*chain/i,\n    'Sticker': /sticker/i,\n    'Performance Tek': /performance\\s*tek/i,\n    'Performance': /performance/i,\n    'Custom': /custom/i,\n    'Fabric': /fabric|suede/i\n  };\n  \n  // Check each category pattern\n  for (const [category, pattern] of Object.entries(categories)) {\n    if (pattern.test(description)) {\n      return category;\n    }\n  }\n  \n  return 'Other';\n}\n\nfor (const po of purchaseOrders) {\n  \n  // Get PO-level override flags\n  const dueDatesOverridden = po.item_due_dates_overridden === '1';\n  const warehousesOverridden = po.item_warehouses_overridden === '1';\n  const exFactoryDatesOverridden = po.item_ex_factory_dates_overridden === '1';\n  const startDatesOverridden = po.item_start_dates_overridden === '1';\n  \n  // Get items array\n  const items = po.purchase_order_items || [];\n  \n  // Process each item\n  for (const item of items) {\n    \n    // Extract category from description\n    const category = extractCategory(item.description);\n    \n    flattenedItems.push({\n      // Item ID\n      purchase_order_items_id: item.id,\n      \n      // PO ID (reference)\n      po_id: po.purchase_order_id,\n      \n      // Override Flags (from PO level)\n      data_due_dates_overridden: dueDatesOverridden,\n      data_warehouses_overridden: warehousesOverridden,\n      data_ex_factory_dates_overridden: exFactoryDatesOverridden,\n      data_start_dates_overridden: startDatesOverridden,\n      \n      // Product Info\n      containing_style: item.style_number,\n      size: item.size,\n      upc: item.upc,\n      retail_price: null, // Not available in the data\n      description: item.description,\n      color: item.attr_2, // attr_2 is typically color\n      category: category, // Extracted from description\n      \n      // Quantities\n      qty: parseFloat(item.qty || 0),\n      qty_open: parseFloat(item.qty_open || 0),\n      qty_received: parseFloat(item.qty_received || 0),\n      qty_cxl: parseFloat(item.qty_cxl || 0),\n      \n      // Location\n      warehouse: item.warehouse_id,\n      \n      // Costs\n      unit_cost: parseFloat(item.unit_cost || 0),\n      unit_cost_landed_est: parseFloat(item.unit_cost_landed_est || 0)\n    });\n  }\n}\n\nconsole.log(`Flattened ${flattenedItems.length} purchase order items from ${purchaseOrders.length} POs`);\n\nreturn flattenedItems.map(item => ({ json: item }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        512,
        448
      ],
      "id": "c4672c3d-81b1-437b-9dfe-bf4ff521d195",
      "name": "Purchase Order"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "purchase_order_items_table_export",
        "returnAll": true
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -480,
        -96
      ],
      "id": "f5e1b40b-91b4-4458-b7da-9ead3b7b6f30",
      "name": "Get many rows"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        0,
        -240
      ],
      "id": "a1dc80eb-b77c-4b15-9adc-4510df823767",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "purchase_order_items_table_export",
        "filters": {
          "conditions": [
            {
              "keyName": "ID",
              "condition": "eq",
              "keyValue": "={{ $('Get many rows').item.json.ID }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -160,
        -96
      ],
      "id": "9901d90c-80e4-4078-9cbe-5c5111d72439",
      "name": "Delete a row"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "purchase_order_items_table_export",
        "returnAll": true
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -384,
        704
      ],
      "id": "9112ee96-a815-434f-bfde-1b10ee331275",
      "name": "GetAllPOData"
    },
    {
      "parameters": {
        "options": {
          "fileName": "=purchase_orderTable_export_{{ $now.format('yyyy-MM-dd') }}.csv"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -160,
        704
      ],
      "id": "9ee8ee93-b0b3-441e-97ac-dc42b8f76395",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "amount": 1
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        192,
        -96
      ],
      "id": "76ca58b6-8ce8-4862-b7af-c02ee930009e",
      "name": "Wait",
      "webhookId": "340892ff-da9e-44d7-a0ea-35698ea23a34"
    },
    {
      "parameters": {
        "fileName": "=purchase_orderTable_export_{{ $now.format('yyyy-MM-dd') }}.csv",
        "binaryData": true
      },
      "type": "n8n-nodes-base.microsoftOneDrive",
      "typeVersion": 1,
      "position": [
        48,
        704
      ],
      "id": "706ef798-0dda-4248-a511-579b7c9bb114",
      "name": "Upload a file",
      "credentials": {
        "microsoftOneDriveOAuth2Api": {
          "id": "70v5BUEO2xxhHaoT",
          "name": "Microsoft Drive account 2"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        256,
        704
      ],
      "id": "3eb5f0ae-a84e-42e6-89b0-3aabd0929978",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        288,
        -272
      ],
      "id": "c863c3e9-7028-4234-88f1-e22166aa50b7",
      "name": "No Operation, do nothing1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1040,
        480
      ],
      "id": "10465169-a385-4550-abb3-96add9993844",
      "name": "No Operation, do nothing2"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                1
              ],
              "triggerAtHour": 3
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -1136,
        128
      ],
      "id": "9faccfc0-f53e-4c24-b58e-3ec52e303ad6",
      "name": "Schedule Trigger"
    }
  ],
  "pinData": {},
  "connections": {
    "Delay": {
      "main": [
        [
          {
            "node": "HTTP - Fetch Page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Cursor": {
      "main": [
        [
          {
            "node": "Delay",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has More Pages?": {
      "main": [
        [
          {
            "node": "Update Cursor",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Purchase Order",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Pagination": {
      "main": [
        [
          {
            "node": "Has More Pages?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - Fetch Page": {
      "main": [
        [
          {
            "node": "Check Pagination",
            "type": "main",
            "index": 0
          },
          {
            "node": "Purchase Order",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Initialize Variables": {
      "main": [
        [
          {
            "node": "HTTP - Fetch Page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get many rows",
            "type": "main",
            "index": 0
          },
          {
            "node": "Initialize Variables",
            "type": "main",
            "index": 0
          },
          {
            "node": "GetAllPOData",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Purchase Order": {
      "main": [
        [
          {
            "node": "Create a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many rows": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete a row": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GetAllPOData": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Delete a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Upload a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload a file": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a row": {
      "main": [
        [
          {
            "node": "No Operation, do nothing2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get many rows",
            "type": "main",
            "index": 0
          },
          {
            "node": "Initialize Variables",
            "type": "main",
            "index": 0
          },
          {
            "node": "GetAllPOData",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "2b5bc34c-658f-4a5e-9bb8-85c857215b0d",
  "meta": {
    "instanceId": "4c1af81d3cffefd77e8c8c2be45ee650aee3d5c517ab26db8886d572e0dcad8f"
  },
  "id": "DeOqjrgZZtLhGzXq",
  "tags": []
}