Receivers Table Export.json
{
  "name": "Receivers Table Export",
  "nodes": [
    {
      "parameters": {
        "jsCode": "await new Promise(resolve => setTimeout(resolve, 300));\nconsole.log('---');\nreturn $input.all();"
      },
      "id": "9935b270-5578-4971-b310-6fd4589b58c3",
      "name": "Delay1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        208
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "last_id",
              "name": "last_id",
              "value": "={{ $json.last_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "3972b112-012c-4691-b704-3e5fece5dfb4",
      "name": "Update Cursor1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        224,
        208
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "has-more",
              "leftValue": "={{ $json.has_more }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "36065157-b07f-4148-b4bf-1a1f070f3444",
      "name": "Has More Pages?1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -48,
        192
      ]
    },
    {
      "parameters": {
        "jsCode": "const currentResponse = $input.item.json;\nconst nextLastId = currentResponse.meta?.pagination?.last_id || null;\n\nconsole.log(`Retrieved ${(currentResponse.response || []).length} POs. Next: ${nextLastId || 'NONE'}`);\n\nreturn {\n  json: {\n    last_id: nextLastId,\n    has_more: !!nextLastId\n  }\n};"
      },
      "id": "2284fdb5-6c7b-462c-a2d8-ada0508151e5",
      "name": "Check Pagination1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -224,
        192
      ]
    },
    {
      "parameters": {
        "url": "=https://jackandsage.app.apparelmagic.com/api/json/receivers/?token=xyz&time={{ Math.floor(Date.now() / 1000) }}{{ $json.last_id ? '&pagination[last_id]=' + $json.last_id : '' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "timeout": 60000
        }
      },
      "id": "9fce5a24-43df-4f67-8fb9-abff54c54d16",
      "name": "HTTP - Fetch Page1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -384,
        432
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "page_count",
              "name": "page_count",
              "value": "=0",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "058d9cdc-113d-4c52-bded-fc6e69d1bb82",
      "name": "Initialize Variables1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        -672,
        384
      ]
    },
    {
      "parameters": {
        "jsCode": "// ================================================\n// FLATTEN RECEIVERS FOR SUPABASE\n// ================================================\n\nconst apiResponse = $input.item.json;\nconst receivers = apiResponse.response || [];\n\nconst flattenedRecords = [];\n\nfor (const receiver of receivers) {\n  \n  flattenedRecords.push({\n    // Receiver ID\n    receiver_id: receiver.receiver_id,\n    \n    // Override Flags\n    data_warehouses_overridden: receiver.item_warehouses_overridden === '1',\n    \n    // Dates\n    date: receiver.date,\n    date_internal: receiver.date_internal,\n    date_in_transit: receiver.date_in_transit,\n    date_in_transit_internal: receiver.date_in_transit_internal,\n    date_due: receiver.date_expected, // date_expected is the due date\n    date_due_internal: receiver.date_expected_internal,\n    \n    // Location & PO Info\n    warehouse: receiver.warehouse_id,\n    purchase_order: receiver.purchase_order_id,\n    project: null, // Not available at receiver level (only in receiver_items)\n    vendor: receiver.vendor_name,\n    \n    // Quantities & Amounts\n    qty: parseFloat(receiver.qty || 0),\n    amount: parseFloat(receiver.amount || 0),\n    \n    // Status Flags\n    void: receiver.void === '1',\n    locked: receiver.is_locked === '1',\n    is_in_transit: receiver.is_in_transit === '1',\n    \n    // Creation Info\n    creation_user: receiver.creation_user_name,\n    creation_date: receiver.creation_time\n  });\n}\n\nconsole.log(`Flattened ${flattenedRecords.length} receivers`);\n\nreturn flattenedRecords.map(record => ({ json: record }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        176,
        512
      ],
      "id": "ad6e95e9-4ae6-4f26-8b34-b5584fcd2116",
      "name": "Receivers"
    },
    {
      "parameters": {
        "tableId": "Receivers_table_export",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "Recievers ID",
              "fieldValue": "={{ $json.receiver_id }}"
            },
            {
              "fieldId": "Data Warehouses Overridden",
              "fieldValue": "={{ $json.item_warehouses_overridden }}"
            },
            {
              "fieldId": "Date",
              "fieldValue": "={{ $json.date }}"
            },
            {
              "fieldId": "Warehouse",
              "fieldValue": "null"
            },
            {
              "fieldId": "Purchase Order",
              "fieldValue": "=0"
            },
            {
              "fieldId": "Project",
              "fieldValue": "null"
            },
            {
              "fieldId": "Vendor",
              "fieldValue": "={{ $json.vendor_name }}"
            },
            {
              "fieldId": "Qty",
              "fieldValue": "={{ $json.qty }}"
            },
            {
              "fieldId": "Amount",
              "fieldValue": "={{ $json.amount }}"
            },
            {
              "fieldId": "Void",
              "fieldValue": "={{ $json.void }}"
            },
            {
              "fieldId": "Locked",
              "fieldValue": "={{ $json.is_locked }}"
            },
            {
              "fieldId": "Is In Transit",
              "fieldValue": "={{ $json.is_in_transit }}"
            },
            {
              "fieldId": "Date In Transit",
              "fieldValue": "={{ $json.date_in_transit }}"
            },
            {
              "fieldId": "Creation User",
              "fieldValue": "={{ $json.creation_user_name }}"
            },
            {
              "fieldId": "Date Due",
              "fieldValue": "null"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        448,
        432
      ],
      "id": "9a309161-ba50-4285-a7dd-95fa5df5cba3",
      "name": "Create a row"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "Receivers_table_export",
        "returnAll": true
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -672,
        -112
      ],
      "id": "a8842454-06ec-4456-8eec-54dd7061efac",
      "name": "Get many rows"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -464,
        -128
      ],
      "id": "1e36de76-cae6-4dc8-b703-d0bd76d52264",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "Receivers_table_export",
        "filters": {
          "conditions": [
            {
              "keyName": "Recievers ID",
              "condition": "fullText",
              "searchFunction": "fts",
              "keyValue": "={{ $('Get many rows').item.json[\"Recievers ID\"] }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        128,
        -112
      ],
      "id": "71580ed5-b820-474a-98d1-b32ef22cce0b",
      "name": "Delete a row"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "Receivers_table_export",
        "returnAll": true
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -608,
        704
      ],
      "id": "138f06c9-abb2-4076-96e3-d0b658869ffa",
      "name": "GetAllRecieversData"
    },
    {
      "parameters": {
        "binaryPropertyName": "=Receivers_Tables_Export_{{ $now.format('yyyy-MM-dd') }}",
        "options": {
          "fileName": "=Receivers_Tables_Export_{{ $now.format('yyyy-MM-dd') }}"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -256,
        704
      ],
      "id": "7a77951f-edfd-4c8a-ae0a-1d7986d42ca0",
      "name": "Convert to File"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1216,
        16
      ],
      "id": "5f8eda6b-84fe-45da-8bc3-5702e5572300",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "jsCode": "// Accept different possible structures\nlet data =\n  $json.all_data ||\n  $json.all_purchase_orders ||\n  $json.response ||\n  $input.all().map(i => i.json);\n\n// Flatten if nested arrays exist\nif (Array.isArray(data) && Array.isArray(data[0])) {\n  data = data.flat();\n}\n\n// Return every object as its own item\nreturn data.map(record => ({\n  json: record\n}));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        624,
        720
      ],
      "id": "e9a75dac-918b-43b3-8912-bde530c5698d",
      "name": "Receivers1",
      "disabled": true
    },
    {
      "parameters": {
        "amount": 1
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -256,
        -32
      ],
      "id": "ea0e91c3-76de-4c39-97a0-004360878455",
      "name": "Wait",
      "webhookId": "6c0f28f3-6878-4602-aa6b-9e0a27f02089"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                1
              ],
              "triggerAtHour": 3
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -1248,
        224
      ],
      "id": "f6572476-00b2-45e7-a32f-9d3476774b80",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -256,
        -211.97019867549665
      ],
      "id": "114dce3c-7e9a-46b3-aafc-8c7ef614c108",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        656,
        432
      ],
      "id": "b23cb2a0-b1bf-4bb8-89dc-3d5555425413",
      "name": "No Operation, do nothing1"
    },
    {
      "parameters": {
        "fileName": "=Receivers_Tables_Export_{{ $now.format('yyyy-MM-dd') }}",
        "binaryData": true,
        "binaryPropertyName": "=Receivers_Tables_Export_{{ $now.format('yyyy-MM-dd') }}"
      },
      "type": "n8n-nodes-base.microsoftOneDrive",
      "typeVersion": 1,
      "position": [
        -48,
        704
      ],
      "id": "d7637338-9aa6-4535-97bb-a57208b3484c",
      "name": "Upload a file",
      "credentials": {
        "microsoftOneDriveOAuth2Api": {
          "id": "70v5BUEO2xxhHaoT",
          "name": "Microsoft Drive account 2"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        160,
        704
      ],
      "id": "25da0f3d-ea32-4016-bedf-f45a318fe153",
      "name": "No Operation, do nothing2"
    }
  ],
  "pinData": {},
  "connections": {
    "Delay1": {
      "main": [
        [
          {
            "node": "HTTP - Fetch Page1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Cursor1": {
      "main": [
        [
          {
            "node": "Delay1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has More Pages?1": {
      "main": [
        [
          {
            "node": "Update Cursor1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Receivers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Pagination1": {
      "main": [
        [
          {
            "node": "Has More Pages?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - Fetch Page1": {
      "main": [
        [
          {
            "node": "Check Pagination1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Receivers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Initialize Variables1": {
      "main": [
        [
          {
            "node": "HTTP - Fetch Page1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many rows": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete a row": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GetAllRecieversData": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get many rows",
            "type": "main",
            "index": 0
          },
          {
            "node": "Initialize Variables1",
            "type": "main",
            "index": 0
          },
          {
            "node": "GetAllRecieversData",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Delete a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get many rows",
            "type": "main",
            "index": 0
          },
          {
            "node": "Initialize Variables1",
            "type": "main",
            "index": 0
          },
          {
            "node": "GetAllRecieversData",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Receivers": {
      "main": [
        [
          {
            "node": "Create a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a row": {
      "main": [
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Upload a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload a file": {
      "main": [
        [
          {
            "node": "No Operation, do nothing2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "484763e8-4ddf-452a-8d9e-65893fa0729f",
  "meta": {
    "instanceId": "4c1af81d3cffefd77e8c8c2be45ee650aee3d5c517ab26db8886d572e0dcad8f"
  },
  "id": "94CoQnmnYbRVDK41",
  "tags": []
}